@charset "UTF-8";

@import 'variables.scss';
@import 'base.scss';
@import 'header.scss';
@import 'logo.scss';
@import 'release.scss';
@import 'search.scss';
@import 'header-nav.scss';

/* ================= *
 *  main-header      *
 * ================= */
// .header {
//   background-color: $bg-blue-4;

//   &-container {
//     width: 1126px;
//     height: 75px;
//     padding-top: 13px;
//     margin: 0 auto;
//   }

//   &-small-container {
//     display: flex;
//     width: 1126px;
//     height: 30px;
//   }
// }

// .logo {
//   display: flex;
//   align-items: center;
//   width: 485px;
//   height: 30px;

//   a {
//     display: block;
//     width: 122px;
//     height: 22px;
//     overflow: hidden;
//     text-indent: 100%;
//     white-space: nowrap;
//     background-image: url('../images/common/logo_prtimes.svg');
//   }

//   &-text {
//     display: block;
//     width: 335px;
//     height: 30px;
//     margin-right: 10px;
//     margin-left: 18px;
//     font-size: 1.2rem;
//     font-weight: normal;
//     line-height: 30px;
//     color: $text-gray-1;
//     white-space: 0;
//   }
// }

// .release {
//   display: block;
//   width: 316px;
//   height: 30px;
//   padding: 0 15px;
//   margin-right: 11px;
//   margin-left: 26px;
//   text-align: center;
//   background-color: $bg-blue-2;
//   border-radius: 4px;

//   ul {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     height: 100%;
//     list-style: none;
//   }

//   &-item {
//     height: 14px;

//     + li {
//       padding-left: 10px;
//       border-left: 1px solid $border-white;
//     }

//     a {
//       font-size: 1.3rem;
//       color: $text-white;

//       &:hover {
//         border-bottom: 1px solid $border-white;
//       }
//     }
//   }
// }

// .keyword-search {
//   display: block;
//   width: 288px;
//   height: 30px;
//   font-size: 0;
//   text-align: center;
// }

// .search-input {
//   display: inline-block;
//   width: 258px;
//   height: 30px;
//   padding: 3px 15px;
//   border: 0;
//   border-radius: 4px 0px 0px 4px;

//   &:focus {
//     border: 0;
//     outline: 0;
//   }

//   &::placeholder {
//     font-size: 1.3rem;
//     line-height: 19px;
//     color: $text-gray-2;
//   }
// }

// .search-button {
//   display: inline-block;
//   width: 30px;
//   height: 30px;
//   background: $bg-blue-1 url(../images/common/icon_search.svg) no-repeat scroll 6px 6px;
//   background-size: 17px 17px;
//   border: 0;
//   border-radius: 0px 4px 4px 0px;

//   &:focus {
//     border: 0;
//     outline: 0;
//   }
// }

// .main-header {
//   display: block;
//   width: 1125px;
//   height: 13px;
//   margin-top: 9px;
//   margin-bottom: 10px;
//   font-size: 0px;

//   ul {
//     display: flex;
//     height: 100%;
//   }
// }

// .header-item {
//   height: 100%;
//   padding-right: 10px;

//   &+ li {
//     padding-left: 10px;
//     border-left: 1px solid $border-gray-1;
//   }

//   a {
//     font-size: 1.3rem;
//     color: $text-gray-1;

//     &:hover {
//       color: $text-white;
//     }
//   }

//   &.active {
//     a {
//       font-weight: bold;
//       line-height: 13px;
//       color: $text-white;
//     }
//   }
// }

/* ================= *
 *  category-header  *
 * ================= */

.category-header {
  display: block;
  height: 36px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  background-color: $bg-white-1;
  border-bottom: 1px solid $border-gray-2;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 837px;
    height: 36px;
    margin: 0 auto;
  }
}

.category-item {
  a {
    font-size: 1.3rem;
    color: $text-blue-2;

    &:hover {
      font-weight: bold;
    }
  }

  &.active {
    a {
      font-weight: bold;
    }
  }
}

/* ================= *
 *  ranking          *
 * ================= */


/*
.ranking-heading {
  display: none;
} */

.ranking {
  ol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 263px;
    background-color: $bg-white-2;
  }

  li {
    margin: 0 4px;
    list-style: none;
  }

  &-box {
    position: relative;
    width: 181px;
    height: 218px;
    background-color: $bg-white-1;

    a.ranking-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 109px 10px 0;

      .title-text {
        z-index: 2;
        display: -webkit-box;
        width: 161px;
        height: 58px;
        overflow: hidden;
        font-size: 1.3rem;
        line-height: 19px;
        color: $text-black;
        transition: color .3s ease-in-out;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }

      &:hover {
        .title-text {
          color: $text-blue-1;
          text-decoration: underline;
        }
      }
    }
  }

  &-number {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 24px;
    height: 24px;
    padding-right: 4px;
    padding-left: 4px;
    font-family: Roboto;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: bold;
    line-height: 24px;
    color: $text-white;
    background-color: $text-blue-2;
  }

  &-img {
    position: absolute;
    left: 0;
    display: block;
    width: 181px;
    height: 100px;
    object-fit: cover;
  }

  &-details {
    position: absolute;
    top: 169px;
    left: 10px;
    display: block;
    width: 161px;
    height: 118px;
    color: $text-gray-3;

    .company {
      margin-top: 3px;
      font-size: 1.3rem;
    }
  }

  &-pv {
    margin-top: 4px;
    font-size: 1.3rem;
  }
}

.datetime {
  display: block;
  width: 100%;
  height: 14px;
  font-size: 1.2rem;
  color: $text-gray-3;
}

time.datetime::before {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  vertical-align: -2px;
  content: '';
  background-image: url('../images/common/icon_time.svg');
}

.company a:hover {
  color: $text-black;
}

/* ================= *
 *  main             *
 * ================= */

.heading-2 {
  margin: 0 0 35px;
  font-size: 2.4rem;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1126px;
  height: 803px;
  margin: 40px auto 0;

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 778px;
  }

  &-article-box {
    position: relative;
    display: block;
    width: 380px;
    height: 118px;
    border-bottom: 1px solid $border-gray-3;
  }
}

a.main-article-title {
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.main-article-title {
  h3 {
    position: absolute;
    top: 15px;
    display: -webkit-box;
    width: 265px;
    height: 66px;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 22px;
    color: $text-black;
    transition: color .3s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &:hover {
    h3 {
      color: $text-blue-1;
      text-decoration: underline;
    }
  }
}

.main-img {
  position: absolute;
  top: 15px;
  left: 280px;
  display: block;
  width: 100px;
  height: 66px;
}

.main-article-details {
  position: absolute;
  top: 88px;
  z-index: 0;
  display: flex;
  width: auto;
  height: 13px;

  .datetime {
    width: auto;
  }

  .company {
    margin-left: 12px;
    font-size: 1.2rem;
  }
}

.more-button {
  display: block;
  width: 110px;
  height: 38px;
  margin: 30px auto 103px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 38px;
  color: $text-white;
  text-align: center;
  background-color: $bg-blue-1;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .24);

  &:hover {
    color: $text-white;
    background-color: $bg-lightblue;
  }

  &:focus {
    outline: none;
  }
}

.sidemenu {
  width: 312px;
}

.seide-heading-2 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 27px;
  color: $text-black;
}

.keyword {
  display: block;
  width: 309px;
  height: auto;
  padding-bottom: 11px;
  margin: 40px auto 0;
  border-bottom: 1px solid $border-gray-3;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &-box {
    display: block;
    height: 22px;
    padding: 0 8px;
    margin: 0 5px 9px;
    font-size: 1.2rem;
    line-height: 22px;
    color: $text-black;
    background-color: $bg-white-3;
    border-radius: 11px;

    &:hover {
      a {
        color: $text-black;
      }
    }

    &.keyword-more {
      line-height: 21px;
      background-color: $bg-white-1;
      border: 1px solid $border-gray-4;

      :hover {
        a {
          color: $text-blue-1;
        }
      }
    }
  }
}

/* ================= *
 *  footer           *
 * ================= */

.footer {
  padding-top: 60px;
  background-color: $bg-gray-1;

  &-content {
    display: block;
    width: 1125px;
    height: 296px;
    margin: 0 auto;
    color: $text-gray-4;
  }

  &-list-row {
    display: flex;
    height: 230px;
    border-bottom: 1px solid $border-gray-5;
  }

  &-list {
    width: 25%;
    height: 210px;
  }

  &-heading-4 {
    margin-bottom: 18px;
    font-size: 1.3rem;
    font-weight: normal;
    color: $text-black;
  }

  &-list-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 19px;
    list-style: none;

    li {
      margin-bottom: 18px;
    }

    a {
      font-size: 1.2rem;
      color: $text-gray-4;

      &:hover {
        color: $text-black;
        border-bottom: 1px solid $text-black;
      }
    }
  }

  &-items-box {
    height: 1.2rem;
    margin-bottom: 18px;
  }

  .footer-term {
    ul {
      display: flex;
      height: 46px;
      padding-top: 16px;
      padding-bottom: 18px;
      list-style: none;
    }

    li {
      margin-right: 10px;
      font-size: 1.2rem;
    }

    a {
      &:hover {
        color: $text-black;
        border-bottom: 1px solid $text-black;
      }
    }
  }
}

.flx2 {
  width: 50%;
}

.copyright {
  font-size: 1.1rem;
}
