@charset "UTF-8";

/* ベース */
@import 'variables.scss';
@import 'base.scss';
@import 'mixin.scss';

/* ヘッダー */
@import 'header.scss';
@import 'logo.scss';
@import 'release.scss';
@import 'search.scss';
@import 'header-nav.scss';

/* カテゴリーヘッダー */
@import 'category-header.scss';

/* ランキング */
@import 'ranking-details.scss';
@import 'ranking.scss';
@import 'ranking-article.scss';
@import 'ranking-title.scss';
@import 'ranking-details.scss';

/* ================= *
 *  main             *
 * ================= */

.heading-2 {
  margin: 0 0 35px;
  font-size: 2.4rem;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1126px;
  height: 803px;
  margin: 40px auto 0;

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 778px;
  }

  &-article-box {
    position: relative;
    display: block;
    width: 380px;
    height: 118px;
    border-bottom: 1px solid $border-gray-3;
  }
}

a.main-article-title {
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.main-article-title {
  h3 {
    position: absolute;
    top: 15px;
    display: -webkit-box;
    width: 265px;
    height: 66px;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 22px;
    color: $text-black;
    transition: color .3s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &:hover {
    h3 {
      color: $text-blue-1;
      text-decoration: underline;
    }
  }
}

.main-img {
  position: absolute;
  top: 15px;
  left: 280px;
  display: block;
  width: 100px;
  height: 66px;
}

.main-article-details {
  position: absolute;
  top: 88px;
  z-index: 0;
  display: flex;
  width: auto;
  height: 13px;

  .datetime {
    width: auto;
  }

  .company {
    margin-left: 12px;
    font-size: 1.2rem;
  }
}

.more-button {
  display: block;
  width: 110px;
  height: 38px;
  margin: 30px auto 103px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 38px;
  color: $text-white;
  text-align: center;
  background-color: $bg-blue-1;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .24);

  &:hover {
    color: $text-white;
    background-color: $bg-lightblue;
  }

  &:focus {
    outline: none;
  }
}

.sidemenu {
  width: 312px;
}

.seide-heading-2 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 27px;
  color: $text-black;
}

.keyword {
  display: block;
  width: 309px;
  height: auto;
  padding-bottom: 11px;
  margin: 40px auto 0;
  border-bottom: 1px solid $border-gray-3;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &-box {
    display: block;
    height: 22px;
    padding: 0 8px;
    margin: 0 5px 9px;
    font-size: 1.2rem;
    line-height: 22px;
    color: $text-black;
    background-color: $bg-white-3;
    border-radius: 11px;

    &:hover {
      a {
        color: $text-black;
      }
    }

    &.keyword-more {
      line-height: 21px;
      background-color: $bg-white-1;
      border: 1px solid $border-gray-4;

      :hover {
        a {
          color: $text-blue-1;
        }
      }
    }
  }
}

/* ================= *
 *  footer           *
 * ================= */

.footer {
  padding-top: 60px;
  background-color: $bg-gray-1;

  &-content {
    display: block;
    width: 1125px;
    height: 296px;
    margin: 0 auto;
    color: $text-gray-4;
  }

  &-list-row {
    display: flex;
    height: 230px;
    border-bottom: 1px solid $border-gray-5;
  }

  &-list {
    width: 25%;
    height: 210px;
  }

  &-heading-4 {
    margin-bottom: 18px;
    font-size: 1.3rem;
    font-weight: normal;
    color: $text-black;
  }

  &-list-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 19px;
    list-style: none;

    li {
      margin-bottom: 18px;
    }

    a {
      font-size: 1.2rem;
      color: $text-gray-4;

      &:hover {
        color: $text-black;
        border-bottom: 1px solid $text-black;
      }
    }
  }

  &-items-box {
    height: 1.2rem;
    margin-bottom: 18px;
  }

  .footer-term {
    ul {
      display: flex;
      height: 46px;
      padding-top: 16px;
      padding-bottom: 18px;
      list-style: none;
    }

    li {
      margin-right: 10px;
      font-size: 1.2rem;
    }

    a {
      &:hover {
        color: $text-black;
        border-bottom: 1px solid $text-black;
      }
    }
  }
}

.flx2 {
  width: 50%;
}

.copyright {
  font-size: 1.1rem;
}
