/* ====== main-title block ===== */

.main-title {
  $block: &;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;

  &__text{
    position: absolute;
    top: 15px;
    display: -webkit-box;
    width: 265px;
    height: 66px;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 22px;
    color: $dark-gray;
    transition: color .3s ease-in-out;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &:hover {
    #{$block}__text {
      color: $light-blue;
      text-decoration: underline;
    }
  }
}
