/* ====== ranking block ===== */

.ranking {

  &__order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 263px;
    background-color: $white-f2;
  }

  &__item {
    margin: 0 4px;
    list-style: none;
  }
}
