/* ====== release block ===== */

.release {
  display: block;
  width: 316px;
  height: 30px;
  padding: 0 15px;
  margin: 0 11px 0 26px;
  text-align: center;
  background-color: $blue--1;
  border-radius: 4px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    list-style: none;
  }

  &__item {
    height: 14px;
    color: $white;

    & + & {
      padding-left: 10px;
      border-left: 1px solid $white;
    }
  }

  &__link {
    font-size: 1.3rem;
    color: $white;

    &:hover {
      border-bottom: 1px solid $white;
    }

    &:link {
      color: $white;
    }
  }
}
