/* ====== sidemenu block ===== */

.sidemenu {
  width: 312px;

  &__heading-2 {
    display: block;
    height: 64px;
    padding: 0 0 40px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 27px;
    color: $dark-gray;
  }
}
