@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #3b3b3b;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #A2A2A2;
  text-decoration: none;
}

.header {
  background-color: #24436F;
}

.header-container {
  width: 1126px;
  height: 75px;
  margin: 0 auto;
  padding-top: 13px;
}

.header-small-container {
  display: flex;
  height: 30px;
  width: 1126px;
}

.logo {
  display: flex;
  height: 30px;
  width: 485px;
  align-items: center;
}

.logo a {
  display: block;
  width: 122px;
  height: 22px;
  background-image: url("../src/images/common/logo_prtimes.svg");
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.logo .logo-text {
  display: block;
  height: 30px;
  width: 335px;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 1.2rem;
  color: #BFC9D7;
  line-height: 30px;
  font-weight: normal;
  white-space: 0;
}

.header-small-container .release {
  display: block;
  height: 30px;
  width: 316px;
  background-color: #345584;
  text-align: center;
  border-radius: 4px;
  margin-left: 26px;
  margin-right: 11px;
  padding: 0 15px;
}

.release ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  list-style: none;
}

.release .release-item {
  height: 14px;
}

.release .release-item+li {
  border-left: 1px solid #fff;
  padding-left: 10px;
}

.release .release-item a {
  font-size: 1.3rem;
  color: #fff;
}

.release .release-item a:hover {
  border-bottom: 1px solid #fff;
}

.keyword {
  display: block;
  height: 30px;
  width: 288px;
  text-align: center;
  font-size: 0;
}

.search-box .search-input {
  display: inline-block;
  height: 30px;
  width: 258px;
  border-radius: 4px 0px 0px 4px;
  border: 0;
  padding: 3px 15px;
}

.search-box .search-input:focus {
  border: 0;
  outline: 0;
}

.search-box .search-button {
  display: inline-block;
  background: #3081c9 url(./images/common/icon_search.svg) no-repeat scroll 6px 6px;
  background-size: 17px 17px;
  height: 30px;
  width: 30px;
  border-radius: 0px 4px 4px 0px;
  border: 0;
}

.search-box .search-button:focus {
  border: 0;
  outline: 0;
}

.search-box .search-input::placeholder {
  font-size: 1.3rem;
  color: #BBBBBB;
  line-height: 19px;
}

.main-header {
  display: block;
  height: 13px;
  width: 1125px;
  margin-top: 9px;
  margin-bottom: 10px;
  font-size: 0px;
}

.main-header ul {
  display: flex;
  height: 100%;
}

.main-header .header-item {
  height: 100%;
  padding-right: 10px;
}

.main-header .header-item+li {
  border-left: 1px solid #BFC9D7;
  padding-left: 10px;
}

.main-header .header-item a {
  color: #BFC9D7;
  font-size: 1.3rem;
}

.main-header .header-item.active a,
.main-header .header-item a:hover {
  color: #fff;
}

.main-header .header-item.active a {
  font-weight: bold;
  line-height: 13px;
}

.category-header {
  display: block;
  height: 36px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.category-header ul {
  display: flex;
  width: 837px;
  height: 36px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.category-header .category-item a {
  font-size: 1.3rem;
  color: #294c7a;
}

.category-header .category-item.active a,
.category-header .category-item a:hover {
  font-weight: bold;
}

.ranking {
  display: flex;
  width: 100%;
  height: 263px;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
}

.ranking .ranking-box {
  position: relative;
  width: 181px;
  height: 218px;
  background-color: #fff;
  margin: 0 4px;
}

.ranking .ranking-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #294c7a;
  font-size: 1.7rem;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 24px;
}

.ranking .ranking-img {
  display: block;
  width: 181px;
  height: 100px;
  object-fit: cover;
}

.ranking .ranking-content {
  display: block;
  width: 100%;
  height: 118px;
  /* background-color: #3081c9; */
  padding: 9px 10px;
}

.ranking .ranking-content .ranking-content-frame {
  display: block;
  width: 161px;
  height: 101px;
  color: #a2a2a2;
}

.ranking-content-frame .ranking-text {
  display: -webkit-box;
  width: 100%;
  height: 58px;
  color: #3b3b3b;
  font-size: 1.3rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 19px;
  transition: color 0.3s ease-in-out;
}

.ranking-box:hover .ranking-content-frame .ranking-text {
  text-decoration: underline;
  color: #3081c9;
}

.datetime {
  display: flex;
  width: 100%;
  height: 14px;
  color: #a2a2a2;
}

.datetime img {
  display: block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.datetime p {
  font-size: 1.2rem;
}

.ranking-content-frame .company {
  font-size: 1.3rem;
  margin-top: 3px;
}

.company a:hover {
  color: #3b3b3b;
}

.ranking-content-frame .ranking-pv {
  font-size: 1.3rem;
  margin-top: 4px;
}

.heading-2 {
  margin: 0 0 35px;
  font-size: 2.4rem;
  font-weight: bold;
}

.main-content-wrapper {
  display: flex;
  width: 1126px;
  height: 803px;
  margin: 40px auto 0;
  justify-content: space-between;
}

.main-frame {
  display: flex;
  width: 778px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-box {
  display: block;
  width: 380px;
  height: 118px;
  border-bottom: 1px solid #e4e4e4;
}

.main-box .main-row {
  display: flex;
  width: 100%;
  height: 66px;
  margin-top: 15px;
  justify-content: space-between;
}

.main-row .main-text {
  display: -webkit-box;
  width: 265px;
  height: 66px;
  color: #3b3b3b;
  font-size: 1.4rem;
  font-weight: bold;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 22px;
  transition: color 0.3s ease-in-out;
}

.main-box:hover .main-row .main-text {
  text-decoration: underline;
  color: #3081c9;
}

.main-box .main-img {
  display: block;
  width: 100px;
  height: 66px;
}

.main-box .main-details-row {
  display: flex;
  margin-top: 4px;
}

.main-details-row .datetime {
  width: auto;
}

.main-details-row .company {
  margin-left: 12px;
  font-size: 1.2rem;
}

a.more-button {
  display: block;
  width: 110px;
  height: 38px;
  background-color: #3081C9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  margin: 30px auto 103px;
  text-align: center;
  line-height: 38px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}

.more-button:hover {
  background-color: #59a7e6;
  color: #fff;
}

.sidemenu {
  width: 312px;
}

.heading-3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3b3b3b;
  line-height: 27px;
}

.sidemenu .keyword {
  display: flex;
  width: 309px;
  height: auto;
  margin: 40px auto 0;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-bottom: 11px;
  border-bottom: 1px solid #e4e4e4;
}

.sidemenu .keyword .keyword-box {
  background-color: #f1f1f1;
  display: block;
  height: 22px;
  margin: 0 5px 9px;
  padding: 0 8px;
  font-size: 1.2rem;
  color: #3b3b3b;
  line-height: 22px;
  border-radius: 11px;
}

.sidemenu .keyword .keyword-box:hover {
  color: #000000;
}

.keyword .keyword-box.keyword-more {
  background-color: #FFFFFF;
  border: 1px solid #F1F1F1;
  line-height: 21px;
}

.sidemenu .keyword .keyword-box.keyword-more:hover {
  color: #3081C9;
}

.footer {
  background-color: #fafafa;
  padding-top: 60px;
}

.footer-content {
  display: block;
  width: 1125px;
  height: 296px;
  margin: 0 auto;
  color: #797979;
}

.footer-content .footer-list-row {
  display: flex;
  height: 230px;
  border-bottom: 1px solid #e0e0e0;
}

.footer-list {
  width: 25%;
  height: 210px;
}

.flx2 {
  width: 50%;
}

.footer-list .footer-heading-4 {
  color: #000000;
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 18px;
}

.footer-list .footer-list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: 19px;
}

.footer-items-box {
  height: 1.2rem;
  margin-bottom: 18px;
}

.footer-list .footer-list-items li {
  margin-bottom: 18px;
}

.footer-list .footer-list-items a {
  color: #797979;
  font-size: 1.2rem;
}

.footer-list .footer-list-items a:hover {
  color: #3b3b3b;
  border-bottom: 1px solid #3b3b3b;
}

.footer-content .footer-term {
  display: flex;
  height: 46px;
  padding-top: 16px;
  padding-bottom: 18px;
}

.footer-content .footer-term p {
  margin-right: 10px;
  font-size: 1.2rem;
}

.footer-content .footer-term a:hover {
  color: #3b3b3b;
  border-bottom: 1px solid #3b3b3b;
}

.footer-content .copyright {
  font-size: 1.1rem;
}
