@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #3B3B3B;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #A2A2A2;
  text-decoration: none;
}
